__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/*.egg-info/
.installed.cfg
*.egg
MANIFEST

# User-specific
.idea/
.vscode/
*.swp
*.swo

# Downloaded Media
*.mp4
*.mp3
*.mkv
*.webm
*.m4a
*.wav
*.flac
*.part
*.ytdl
*.m3u8
*.ts
*.webp
*.jpg
*.png
*.gif

# Cookie files
*.txt
!requirements.txt

# Temp & Binaries
temp/
logs/
ffmpeg/
installer_output/
*.exe
*.spec